* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    width:100%;
    height:100%;
    overscroll-behavior: none;
    -webkit-overflow-scrolling: none;
    overflow-x: hidden;
}
body{
    height:100%;
    width:100%;
    background-image: url(../images/bg.jpg);
    background-size:cover;
    background-position:center;
    background-repeat: no-repeat;
    overscroll-behavior: none;
    -webkit-overflow-scrolling: none;
    overflow-x: hidden;
}
.main-navbar-element{
    width:20%;
    margin-left:0.5vh;
    height: 90vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.navbar-element{
    width:65%;
    margin-left:5%;
    height: auto;
    border-radius: 8px;
    border: 1px solid #ffffff21;
    display: flex;
    flex-direction: column;
    transition: all 0.9s;
    backdrop-filter: blur(55px);
    padding:5%;
    box-shadow: #00000040 0px 54px 55px, #0000001f 0px -12px 30px, #0000001f 0px 4px 6px, #0000002b 0px 12px 13px, #00000017 0px -3px 5px;
}
.mini-navbar-element{
    width:15%;
    height:max-content;
    display:flex;
    flex-direction: column;
    border-radius: 8px;
    padding:5px;
    padding-top:10px;
    padding-bottom: 10px;
    backdrop-filter: blur(55px);
    border: 1px solid #ffffff21;
    box-shadow: #00000040 0px 54px 55px, #0000001f 0px -12px 30px, #0000001f 0px 4px 6px, #0000002b 0px 12px 13px, #00000017 0px -3px 5px;
}
.mini-nav-item{
    transition:all .5s;
    padding: 4px;
    border-radius: 8px;
    font-size:1.3rem;
    color:#009ca6;
    margin-bottom: 3px;
}
.mini-nav-item a{
    color:#009ca6;
}
.mini-nav-item:hover{
    background-color: #00f5d424;
}
.navbar .links ul{
    padding:0;
    margin:0;
}
.navbar .links ul li{
    text-align: left;
    padding-left:10px;
    width:100%;
    padding:10px;
    transition:all .5s;
    cursor:pointer;
    border-radius:5px;
}
.navbar .links ul li:hover{
    background-color: rgba(255, 255, 255, 0.449);
}
.navbar .links ul li a{
    text-decoration: none;
    color: white;
    font-size:18px;
}
.navbar .links ul li a i{
    padding-right:10px;
    font-size:23px;
}
.user-login{
    padding:5px;
    padding-bottom:10px;
    padding-top:10px;
    display:flex;
    flex-direction: row;
    border-bottom:1px solid #ffffff21;
    align-items: center;
}
.user-logout {
    display:flex;
    flex-direction: row;
    padding:5px;
    padding-bottom:10px;
    padding-top:10px;
    margin-top:1vh;
    border-top:1px solid #ffffff21;
}
.user-logout button{
    background-color: transparent;
    text-decoration: none;
    color:#009ca6;
    border:none;
    cursor:pointer;
}

.navbar-head-title{
    display:flex;
    flex-direction: column;
    padding-top:10px;
    padding-bottom:10px;
}
.navbar-head-title span{
    text-align: left;
    color:white;
}
.user-login a{
    text-decoration: none;
    color:white;
}
.user-login i{
    font-size:17px;
    color:white;
}
.navbar{
    display:flex;
    flex-direction: column;
    margin-top:1vh;
}
.links{
    display:flex;
    flex-direction: column;
}
ul{
    list-style-type: none;
}
.user-img{
    border-radius:50%;
    width:30px;
    height:30px;
    background-image:url(../images/user.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-right:10px;
}
.user-login a{
    display:flex;
    flex-direction: row;
    align-items: center;
}
.user-auth{
    height: max-content;
    color:#009ca6 !important;
}
.content{
    min-height: 84vh;
    backdrop-filter: blur(4px);
    background-color:rgba(0,0,0,.25);
    border-radius: 8px;
    border: 1px solid #ffffff21;
    width:75%;
    margin-left:2%;
    padding:3vh;
    box-shadow: #00000040 0px 54px 55px, #0000001f 0px -12px 30px, #0000001f 0px 4px 6px, #0000002b 0px 12px 13px, #00000017 0px -3px 5px;
}
.content-logout{
    background-color:transparent;
    border:none;
    box-shadow: none;
}
.content-grid{
    width:100%;
    display:flex;
    flex-direction: row;
}

.box *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.box {
    position: relative;
    width: 380px;
    height: 450px;
    background: #1c1c1c;
    border-radius: 8px;
    overflow: hidden;
    padding: 10px;
}

.box::before{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg, transparent, transparent, #45f3ff, #45f3ff, #45f3ff);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
}

.box::after{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg, transparent, transparent, #45f3ff, #45f3ff, #45f3ff);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -3s;
}

.borderLine::before{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg, transparent, transparent, #009ca6, #009ca6, #009ca6);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -1.5s;
}

.borderLine::after
{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg, transparent, transparent, #009ca6, #009ca6, #009ca6);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -4.5s;
}


@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }

}

.box form{
    position: absolute;
    inset: 4px;
    background: #000000e0;
    padding: 50px 40px;
    border-radius: 8px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.box form h2{
    color: #fff;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.1em;
}

.box form .inputBox{
    position: relative;
    width: 300px;
    margin-top: 35px;
}

.box form .inputBox input{
    position: relative;
    width: 100%;
    padding: 20px 10px 10px;
    background: transparent;
    outline: none;
    border: none;
    box-shadow: none;
    color: #23242a;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    z-index: 10;
}

.box form .inputBox span{
    position: absolute;
    left: 0;
    padding: 20px 0px 10px;
    pointer-events: none;
    color: #8f8f8f;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.box form .inputBox input:valid ~ span,
.box form .inputBox input:focus ~ span {
    color: #fff;
    font-size: 0.75em;
    transform: translateY((-34px));
}

.box form .inputBox i{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #fff;
    border-radius: 4px;
    overflow: hidden;
    transition: 0.5s;
    pointer-events: none;
}

.box form .inputBox input:valid ~ i,
.box form .inputBox input:focus ~ i {
    height: 48px;
}

.box form .links{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.box form .links a{
    margin: 10px 0;
    font-size: 0.75em;
    color: #8f8f8f;
    text-decoration: none;
}

.box form .links a:hover,
.box form .links a:nth-child(2){
    color: #fff;
}

#submit{
    border: none;
    outline: none;
    padding: 9px 25px;
    cursor: pointer;
    font-size: 0.9em;
    border-radius: 4px;
    font-weight: 600;
    width: 100px;
    margin-top: 10px;
}

#submit:active{
    opacity: 0.8;
}
.panel{
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
}
.header-borderless{
    border:none;
}