* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    width:100%;
    height:100% !IMPORTANT;
    overscroll-behavior: none;
    -webkit-overflow-scrolling: none;
    overflow-x: hidden;
}
body{
    height:100% !IMPORTANT;
    width:100%;
    background-image: url(../images/bg.jpg);
    background-size:cover;
    background-position:center;
    background-repeat: no-repeat;
    overscroll-behavior: none;
    -webkit-overflow-scrolling: none;
    overflow-x: hidden;
}
.main-navbar-element{
    width:25%;
    margin-left:0.5vh;
    height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.navbar-element{
    width:65%;
    margin-left:5%;
    height: auto;
    border-radius: 8px;
    border: 1px solid #ffffff21;
    display: flex;
    flex-direction: column;
    transition: all 0.9s;
    backdrop-filter: blur(55px);
    padding:5%;
    box-shadow: #00000040 0px 54px 55px, #0000001f 0px -12px 30px, #0000001f 0px 4px 6px, #0000002b 0px 12px 13px, #00000017 0px -3px 5px;
}
.mini-navbar-element{
    width:15%;
    height:max-content;
    display:flex;
    flex-direction: column;
    border-radius: 8px;
    padding:5px;
    padding-top:10px;
    padding-bottom: 10px;
    backdrop-filter: blur(55px);
    border: 1px solid #ffffff21;
    box-shadow: #00000040 0px 54px 55px, #0000001f 0px -12px 30px, #0000001f 0px 4px 6px, #0000002b 0px 12px 13px, #00000017 0px -3px 5px;
}
.mini-nav-item{
    transition:all .5s;
    padding: 4px;
    border-radius: 8px;
    font-size:1.3rem;
    color:#009ca6;
    margin-bottom: 3px;
}
.mini-nav-item a{
    color:#009ca6;
    cursor:pointer;
}
.mini-nav-item:hover{
    background-color: #00f5d424;
}
.navbar .links ul{
    padding:0;
    margin:0;
}
.navbar .links ul li{
    text-align: left;
    padding-left:10px;
    width:100%;
    padding:10px;
    transition:all .5s;
    cursor:pointer;
    border-radius:5px;
}
.navbar .links ul li:hover{
    background-color: rgba(255, 255, 255, 0.449);
}
.navbar .links ul li a{
    text-decoration: none;
    color: white;
    font-size:18px;
}
.navbar .links ul li a i{
    padding-right:10px;
    font-size:23px;
}
.user-login{
    padding:5px;
    padding-bottom:10px;
    padding-top:10px;
    display:flex;
    flex-direction: row;
    border-bottom:1px solid #ffffff21;
    align-items: center;
}
.user-logout {
    display:flex;
    flex-direction: row;
    padding:5px;
    padding-bottom:10px;
    padding-top:10px;
    margin-top:1vh;
    border-top:1px solid #ffffff21;
}
.user-logout button{
    background-color: transparent;
    text-decoration: none;
    color:#009ca6;
    border:none;
    cursor:pointer;
}

.navbar-head-title{
    display:flex;
    flex-direction: column;
    padding-top:10px;
    padding-bottom:10px;
}
.navbar-head-title span{
    text-align: left;
    color:white;
}
.user-login a{
    text-decoration: none;
    color:white;
}
.user-login i{
    font-size:17px;
    color:white;
}
.navbar{
    display:flex;
    flex-direction: column;
    margin-top:1vh;
}
.links{
    display:flex;
    flex-direction: column;
}
ul{
    list-style-type: none;
}
.user-img{
    border-radius:50%;
    width:30px;
    height:30px;
    background-image:url(../images/user.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-right:10px;
}
.user-login a{
    display:flex;
    flex-direction: row;
    align-items: center;
}
.user-auth{
    height: max-content;
    color:#009ca6 !important;
}
.content{
    min-height: 74vh;
    backdrop-filter: blur(4px);
    background-color:rgba(0,0,0,.25);
    border-radius: 8px;
    border: 1px solid #ffffff21;
    width:70%;
    margin-left:2%;
    padding:3vh;
    box-shadow: #00000040 0px 54px 55px, #0000001f 0px -12px 30px, #0000001f 0px 4px 6px, #0000002b 0px 12px 13px, #00000017 0px -3px 5px;
}
.content-logout{
    background-color:transparent;
    border:none;
    box-shadow: none;
    display: flex;
    align-items: center;
    justify-content: center;

}
.content-grid{
    width:100%;
    height:100%;
    display:flex;
    flex-direction: row;
    align-items: center;
}

.box *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.box {
    position: relative;
    width: 380px;
    height: 450px;
    background: #1c1c1cde;
    border-radius: 8px;
    overflow: hidden;
    padding: 10px;
}

.box::before{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg, transparent, transparent, #45f3ff, #45f3ff, #45f3ff);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
}

.box::after{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg, transparent, transparent, #45f3ff, #45f3ff, #45f3ff);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -3s;
}

.borderLine::before{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg, transparent, transparent, #009ca6, #009ca6, #009ca6);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -1.5s;
}

.borderLine::after
{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg, transparent, transparent, #009ca6, #009ca6, #009ca6);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -4.5s;
}


@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }

}

.box form{
    position: absolute;
    inset: 4px;
    background: #0000008f;
    padding: 50px 40px;
    border-radius: 8px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition:all .5s;
}
.box form:hover{
    background:#000000e0;
}

.box form h2{
    color: #fff;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.1em;
}

.box form .inputBox{
    position: relative;
    width: 300px;
    margin-top: 35px;
}

.box form .inputBox input{
    position: relative;
    width: 100%;
    padding: 20px 10px 10px;
    background: transparent;
    outline: none;
    border: none;
    box-shadow: none;
    color: #23242a;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    z-index: 10;
}

.box form .inputBox span{
    position: absolute;
    left: 0;
    padding: 20px 0px 10px;
    pointer-events: none;
    color: #8f8f8f;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.box form .inputBox input:valid ~ span,
.box form .inputBox input:focus ~ span {
    color: #fff;
    font-size: 0.75em;
    transform: translateY((-34px));
}

.box form .inputBox i{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #fff;
    border-radius: 4px;
    overflow: hidden;
    transition: 0.5s;
    pointer-events: none;
}

.box form .inputBox input:valid ~ i,
.box form .inputBox input:focus ~ i {
    height: 48px;
}

.box form .links{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.box form .links a{
    margin: 10px 0;
    font-size: 0.75em;
    color: #8f8f8f;
    text-decoration: none;
}

.box form .links a:hover,
.box form .links a:nth-child(2){
    color: #fff;
}

#submit{
    border: none;
    outline: none;
    padding: 9px 25px;
    cursor: pointer;
    font-size: 0.9em;
    border-radius: 4px;
    font-weight: 600;
    width: 100px;
    margin-top: 10px;
}

#submit:active{
    opacity: 0.8;
}
.panel{
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
}
.header-borderless{
    border:none;
}
.custom-popup{
    border-radius:8px;
    border:1px solid #009ca6;
}
.chat-item{
    width:100%;
    display:flex;
    flex-direction: row;
    margin-bottom: 10px;
    transition:all .5s;
    cursor:pointer;
    background-color: rgba(0, 0, 0, 0.12);
    border-radius: 8px;
    border: 1px solid #ffffff21;
    color:white;
}
.chat-item-identity{
    width:30%;
    border-radius:10px;
    background-image: url(../images/user-foreign.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.chat-item-content{
    width:70%;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 5px;
}
.chat-item-content .user-name{
    padding:5px;
    font-size:17px;
    color:white;
    font-weight: bold;
    text-align: left;
}
.chat-item-content .user-chat{
    padding:5px;
    font-size:14px;
    color:white;
    text-align: left;

    width: 15ch; /* This sets the width to 7 characters */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.chat-item:hover{
    background-color: rgba(0, 0, 0, 0.22);
}
.chat-items{
    width:98%;
    padding-right:2%;
    max-height: 66vh;
    overflow-y:scroll;
}

.custom-scrollbar {

    &::-webkit-scrollbar {
        width: 0.5em;
        height: 0.5em;
    }

    &::-webkit-scrollbar-thumb {
        background-color: rgba(255,255,255,.1);
        border-radius: 3px;

        &:hover {
            background: rgba(255,255,255,.2);
        }
    }
}

#app{
    margin:0 !IMPORTANT;
}


.panel-page{
    width:100%;
    height: max-content;
    display:flex;
    flex-direction: column;
}
.header-page{
    display:flex;
    flex-direction: row;
    width:96%;
    padding:2%;
}
.header-page .title-page{
    font-size:30px;
    color:white;
    font-weight: bold;
    border-bottom: 1px solid #ffffff21;
    padding:15px;
    width: 100%;
    text-align: left;
}
.content-page{
    display:flex;
    flex-direction: column;
    width:96%;
    padding:2%;
}
.settings-page .settings-item{
    width:100%;
    display:flex;
    flex-direction: column;
}
.add-chat-item{
    width:100%;
    height:40px;
    background-color: rgba(0, 0, 0, 0.12);
    border-radius: 8px;
    border: 1px solid #ffffff21;
    color:white;
    cursor:pointer;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size:17px;
    font-weight: bold;
    transition:all .5s;
}
.add-chat-item:hover{
    background-color: rgba(0, 0, 0, 0.30);
}

.ai-nav{
    border-radius: 8px;
    border: 1px solid #ffffff21;
}
.ai-nav .chat-item-identity{
    background-image:url(../images/ai.jpg);
    background-size: cover;
    background-position:center;
    background-repeat:no-repeat;
}
.search-section{
    width:100%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.search-section-content{
    width:65%;
    display:flex;
    flex-direction: column;
}
.notification-section-content{
    width:100%;
    display:flex;
    flex-direction: column;
}
.search-section-content .feedback-request{
    text-align: center;
    color:white;
    font-size:20px;
    font-weight:bold;
    width:100%;
}
.search-nav{
    width:30%;
}
.display-user-item{
    width:90%;
    padding:10px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.12);
    border-radius: 8px;
    border: 1px solid #ffffff21;
    color: white;
}
.display-user-item .user-item-identity{
    width:18%;
    border-radius:10px;
    height:70px;
    background-image:url(../images/user-foreign.png);
    background-size: cover;
    background-position: center;
    background-repeat:no-repeat;
}
.display-user-item .user-item-content{
    width:44%;
    padding-left:3%;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}
.display-user-item .user-item-content .username{
    font-size:17px;
    color:white;
    font-weight:bold;
}
.display-user-item .user-item-content email{
    font-size:14px;
    color:white;
    text-align: left;
}
.display-user-item .user-item-buttons{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.display-user-item .user-item-buttons a{
    color:white;
    font-weight: bold;
    padding:5px;
    background-color: rgba(0, 0, 0, 0.12);
    border-radius: 8px;
    border: 1px solid #ffffff21;
    margin-right:5px;
}
.user-item-buttons button {
    padding: 8px 16px;
    margin: 5px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
    transition: all .5s;
    background-color:transparent;
    border:none;
}
.send-request-button{
    color:white;
    background-color: rgba(0, 156, 166, 0.2);
}
.send-request-button:hover{
    background-color: rgba(0, 156, 166, 0.4);
}
.search-section-content {
    margin-top: 20px;
}

.search-nav {
    text-align: center;
    padding: 10px;
}
.notification-button{
    padding:5px;
    color:white;
    background-color: rgba(0, 0, 0, 0.12);
    border-radius: 8px;
    border: 1px solid #ffffff21;
    transition:all .5s;
    margin-left: 5px;
}
.notification-button:hover{
    background-color: rgba(0, 0, 0, 0.22);
}

.friend-requests-container {
    max-height: 200px;
    overflow-y: auto;
}

.friend-request-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal {
    background-color: rgba(0, 0, 0, .55);
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    border: 1px solid #ffffff21;
    padding: 20px;
    border-radius: 8px;
    width: 50%;
    max-height: 80vh;
    overflow-y: auto;
}

.modal h2 {
    margin-bottom: 15px;
}

.modal ul {
    list-style: none;
    padding-left: 0;
}

.modal ul li {
    margin: 5px 0;
}

.modal-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

button {
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.cancel-button {
    background-color: #ccc;
}

.accept-button {
    background-color:#45f3ff;
    color: white;
}
.header-users-notify-name{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.has-requests{
    background-color: rgb(255 0 0 / 12%);
    animation: bounce 1s ease infinite;
    position:relative;
}
.has-requests i{
    color: #ff0000;
}
.nr-notifications{
    position: absolute;
    right: -5px;
    top: -10px;
    font-size: 13px;
    background-color: #000000;
    border-radius: 50%;
    width: 15px;
    heght: 10px;
    height: 15px;
    color: red;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(0);
    }
}
.chat-items a{
    text-decoration: none;
}